            <section class="section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.others.icon }}"></i>{{ i18n "others" }}</h2>
                <div class="headline"></div>
				{{ range .Site.Params.others.list }}
                <div class="item">
                    <h3 class="other-title">{{ .title }}</h3>
                    <div class="details">
                        <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                    </div><!--//details-->
                </div><!--//item-->
				{{ end }}

            </section><!--//section-->
