# {{ resume.Profile[0].FirstName }} {{ resume.Profile[0].LastName }}  <img src="{{ profile_image }}" alt="ProfilePicture" style="float: right;" width="100" >  
**{{ resume.Profile[0].Headline }}**  
{{ resume.Profile[0].Address }}  
{% for email in resume.EmailAddresses %}
{{"E-mail: " if loop.first }}{{ email.EmailAddress }}{{", " if not loop.last else "  "}}
{% endfor %}
{% for phone in resume.PhoneNumbers %}
{{"Tel: " if loop.first }}{{ phone.Number }}{{", " if not loop.last else "  "}}
{% endfor %}


---


{% if resume.ProfileSummary | length > 0 or resume.Profile[0].Summary | length > 0 %}
## Summary

{% if resume.ProfileSummary | length > 0 %}
{{ resume.ProfileSummary }}  
{% endif %}

{% if resume.Profile[0].Summary | length > 0 %}
{{ resume.Profile[0].Summary }}  
{% endif %}

{% endif %}


## Experiences
{% for position in resume.Positions %}

### {{ position.Title }} at {{ position.CompanyName }}

*{{ position.StartedOn }} - {{ position.FinishedOn if position.FinishedOn else "Present" }} | {{ position.Location }}*
{{ position.Description | replace('-', '\n-') | replace('*', '\n*') }}
{% endfor %}


## Education
{% for edu in resume.Education %}

### {{ edu.DegreeName }} at {{ edu.SchoolName }}

*{{ edu.StartDate }} - {{ edu.EndDate if edu.EndDate else "Present" }}*  
{% if edu.Notes %}{{ edu.Notes }}{% endif %}

{% endfor %}


## Skills

{% for skill in resume.Skills %}
{{ skill.Name }}{{"," if not loop.last else "  "}}
{% endfor %}


## Languages

{% for lang in resume.Languages %}
- {{ lang.Name }}{% if lang.Proficiency %}: *{{ lang.Proficiency }}*
{% endif %}
{% endfor %}